<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <script type="text/javascript" src="dist/js/main.js"></script>
    <script type="text/javascript" src="dist/js/hmr.js"></script>
    <script type="text/javascript" src="http://localhost:8080/webpack-dev-server.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.css">
    <link rel="stylesheet" href="dist/css/main.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <style type="text/css">
    </style>
    <title>手遊金幣</title>
</head>
<body>
  <div id="navbar" class="ui menu no-border-radius grey">
    <div class="ui container">
      <a href="#" class="logo">
        <img src="images/logo.png" alt="GameCoin - 遊戲金幣">
      </a>
      <div id="menu_user_info" class="ui right floated item">
        <!-- <div class="point"><i class="dollar icon"></i><span>100</span></div>
        <img src="images/user_icon.png"> -->
      </div>
    </div>
  </div>
  <div class="ui fluid container">
  </div>
  <center>
<!--   <div class="owl-carousel owl-theme" id="banner-owl">
      <div class="item">
        <a href="https://gamewallet.jp/web/campaigns/app_install"><img src="https://gamewallet.s3-ap-northeast-1.amazonaws.com/production/0ccfa3cfa11376c8.png" alt="0ccfa3cfa11376c8" /></a>
      </div>
      <div class="item">
        <a href="http://gamewallet.jp/users/followers"><img src="https://gamewallet.s3-ap-northeast-1.amazonaws.com/production/11cddf1d5186ec8b.png" alt="11cddf1d5186ec8b" /></a>
      </div>
      <div class="item">
        <a href="javascript:{if(!userSignedIn()){showLoginPopup();}else{location.href = &#39;/mypage/add_home/home&#39;;}}"><img src="https://gamewallet.s3-ap-northeast-1.amazonaws.com/production/0588dd8ec41712a4.png" alt="0588dd8ec41712a4" /></a>
      </div>
  </div> -->
  </center>
  <img src="images/carousel.png" class="m-carousel">
  <div id="search_app" class="ui container" style="display:none">
    <div id="search" class="ui search">
      <div class="ui icon input">
        <input class="" type="text" placeholder="Search apps..." v-on:keyup.enter="doSearch" v-model="searchString">
        <i v-on:click="doSearch" class="inverted circular search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
    <!-- <img src="images/latest_app_tab.png" style="width: 100%"> -->
    <div id="apps_container" >
      <h1 v-if="searchResults.length == 0"></h1>
      <div class="app_box" v-for="item in searchResults">
        <img class="ui rounded image"  v-bind:src="item.artworkUrl100">
      </div>
    </div>
  </div>    

  <div id="latest_app" class="ui container">
    <!-- <h2 class="ui header">熱門遊戲</h2> -->
    <img src="images/latest_app_tab.png" style="width: 100%">
    <div id="apps_container" class="ui five column grid">
      <div class="column" v-for="item in items">
        <a v-bind:href="item.link.attributes.href" target="_blank">
          <img class="ui fluid rounded image"  v-bind:src="item['im:image'][0].label">
        </a>
        <div class="app_title">{{ item.title.label.split('-')[0] }}</div>
      </div>

    </div>
  </div>
  <div id="popular_app" class="ui container">
    <!-- <img src="images/latest_app_tab.png" style="width: 100%"> -->
    <img src="images/popular_app_tab.png" style="width: 100%">
    <div id="apps_container" class="ui five column grid">
      <div class="column" v-for="item in items">
        <a v-bind:href="item.link.attributes.href" target="_blank">
          <img class="ui fluid rounded image"  v-bind:src="item['im:image'][0].label">
        </a>
        <div class="app_title">{{ item.title.label.split('-')[0] }}</div>
      </div>

    </div>
  </div>
  
  <div class="ui modal">
    <!-- <i class="close icon"></i> -->
    <div class="header">
      隱私權條款
    </div>
    <div class="content">
      1. 本網站係遵守「個人資料保護法」相關規範，收集、運用您的個人資料，在未經過您的同意下，本網站將不會將您的個人資料提供給其他第三人，或移作其他目的使用。 <br><br>
      2. 本網站會使用cookie技術，以便於提供會員所需要的服務；cookie是網站伺服器用來和會員瀏覽器進行溝通的一種技術，它可能在會員的電腦中隨機儲存字串，用以辨識區別使用者，若會員關閉cookie有可能導致無法順利使用本網站之服務。 <br><br>
      3. 本網站使用之廣告追蹤服務公司PHG(Performance Horizon Group Limited)可使用本網站代碼或 Cookie 來追蹤廣告商的行銷活動成效，且在此過程中不會收集任何個人身分資訊。 <br><br>
      4. 本網站將會不時修訂網站政策。<br><br>
    </div>
    <div class="actions">
      <div class="ui ok button">
        關閉
      </div>
    </div>
  </div>

  <div id="footer" class="ui inverted vertical footer segment">
    <div>
      <a href="javascript:$('.ui.modal').modal('show');"> 隱私權政策 </a>
      <span class="sep">|</span> 
      <a href="mailto:mgcoincoin@gmail.com">聯絡我們</a>
    </div>
    <div class="rights">© GameCoin All Rights Reserved.</div>
  </div>
  <script>
  $(document).ready(function(){
    var example1 = new Vue({
      el: '#latest_app',
      data: {
        items: []
      }
    })
    var example2 = new Vue({
      el: '#popular_app',
      data: {
        items: []
      }
    })
    var topFreeAppUrl = "https://itunes.apple.com/tw/rss/topfreeapplications/limit=10/json";
    var topGrossingAppUrl = "https://itunes.apple.com/tw/rss/topgrossingapplications/limit=10/genre=6014/json";

    var topFreeApps;
    var topGrossingApps;
    $.getJSON(topFreeAppUrl, function(res){
      topFreeApps = res;
      example1.items = res.feed.entry
    })
    $.getJSON(topGrossingAppUrl, function(res){
      example2.items = res.feed.entry
    })

    var searchVm = new Vue({
      el: "#search_app",
      data: {
        searchString: "",
        searchResults: []
      },
      methods: {
        doSearch: function (e) {
          $.ajax({
            url: 'https://itunes.apple.com/search',
            dataType: "jsonp",
            data: {
              term:this.searchString,
              media: "software",
              lang: "zh_tw", 
              country: "tw",
              limit: 4
            },
            success: function(resJson) {
              this.searchResults = resJson.results;
            }.bind(this)
          });
        }
      }
    });
    
    var multiple = $('.owl-carousel .item').length > 1;
    $('#banner-owl').owlCarousel({
      loop: multiple,
      margin: 10,
      nav: multiple,
      singleItem: true,
      autoWidth: true,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplayHoverPause: false,
      items: 1,
    });
  })

  </script>  


</body>
</html>